.options {
    background: url(../img/section5/bg1.png), url(../img/section5/bg2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100% , 100% 100%;
    background-position: 0 0, 50% 0;
    min-height: 580px;
    padding-top: 79px;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__item {
        margin: 128px 83px 0 83px;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 167px;
            height: 167px;
            background-color: #00c2f0;
            opacity: 0.3;
            position: absolute;
            top: -38px;
            z-index: 1;
            left: -35px;
        }
        &_title {
            position: relative;
            color: #ffffff;
            font-family: "Roboto - Black";
            font-size: 30px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            z-index: 5;
        }
        &_desc {
            position: relative;
            margin-top: 20px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            width: 483px;
            z-index: 5;
        }
    }
    &__item:nth-child(1) {
        text-align: right;
        &:after{
            content: "";
            display: none;
        }
        &:before{
            content: "";
            display: block;
            width: 167px;
            height: 167px;
            background-color: #00c2f0;
            opacity: 0.3;
            position: absolute;
            top: -38px;
            z-index: 1;
            right: -35px;
        }
    }

}