.title {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 35.99px;
    text-align: center;
    &__black {
        color: #393939;
        margin-top: 74px;
    }
}